<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Hey, this is about page</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Dictum est autem Quicumque dimiserit uxorem suam, det ei libellum repudii. Ego autem dico vobis quia omnis
          qui dimiserit uxorem suam, excepta fornicationis causa, facit eam mœchari et qui dimissam duxerit, adulterat.
          Iterum audistis quia dictum est antiquis Non perjurabis reddes autem Domino juramenta tua.</p>

        <p>Ego autem dico vobis, non jurare omnino, neque per cælum, quia thronus Dei est neque per terram, quia
          scabellum est pedum ejus neque per Jerosolymam, quia civitas est magni regis neque per caput tuum juraveris,
          quia non potes unum capillum album facere, aut nigrum.</p>

        <p>Sit autem sermo vester, est, est non, non quod autem his abundantius est, a malo est. Audistis quia dictum
          est Oculum pro oculo, et dentem pro dente.</p>

        <p>Ego autem dico vobis, non resistere malo sed si quis te percusserit in dexteram maxillam tuam, præbe illi et
          alteram et ei, qui vult tecum judicio contendere, et tunicam tuam tollere, dimitte ei et pallium et quicumque
          te angariaverit mille passus, vade cum illo et alia duo.</p>

        <p>Qui petit a te, da ei et volenti mutuari a te, ne avertaris. Audistis quia dictum est Diliges proximum tuum,
          et odio habebis inimicum tuum.</p>
      </div>
    </div>
  </div>
</article>
