<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
          <div class="post-preview">
            <%= link_to post do %>
                <h2 class="post-title"><%= post.title %></h2>
            <% end %>
            <p class="post-meta"><%= post.created_at.strftime("%B, %d, %Y") %></p>
          </div>
      <% end %>

      <hr>

      <%= paginate @posts %>
    </div>
  </div>
</div>

